 <div class="container">
  <h1 class="title is-4">Log in</h1>

    <%= form_tag session_path do %>
      <div>
        <%= label_tag :email, nil, class: "label" %>
        <p class="control">
          <%= text_field_tag :email, nil, class: "input search-spacer" %>
        </p>
      </div>
      <div>
        <%= label_tag :password, nil, class: "label" %>
        <p class="control">
          <%= password_field_tag :password, nil, class: "input search-spacer" %>
        </p>
      </div>
      <div><%= submit_tag "Submit", class: "button is-primary" %></div>
    <% end %>
</div>

