
  <div class="column is-one-third">
    <div class="box">
      <figure class="image is-square">
        <%= link_to image_tag(movie.image), movie_path(movie) %>
      </figure>
      <h1 class="title"><%= link_to movie.title, movie_path(movie) %></p>
      <h3><%= movie.release_date %></h3>
      <h4>Average review: <%= movie.review_average %></h4>
      <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
      <p><%= movie.description %></p>
    </div>
  </div>