
  <div class="column is-one-third">
    <div class="box">
      <figure class="image is-square image-spacer img-border">
        <%= link_to image_tag(movie.image), movie_path(movie) %>
      </figure>
      <p class="title is-4"><%= link_to movie.title, movie_path(movie) %></p>
      <p class="subtitle">Directed by <%= movie.director %></p>
      <p><strong>Release date: </strong><%= formatted_date(movie.release_date) %></p>
      <p><strong>Average review: </strong> <%= movie.review_average %></p>
      <p><strong>Runtime: </strong><%= movie.runtime_in_minutes %> minutes</p>
      <p><strong>Synopsis: </strong></p><%= movie.description %></p>
    </div>
  </div>