<div class="box">
  <h1 class="title"><%= @user.full_name %>'s Profile</h1>
</div>

<div class='box'>
  <div class="content">
    <p><strong>Name:</strong> <%= @user.full_name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Date joined:</strong> <%=formatted_date(@user.created_at) %></p>
  </div>
</div>

    <p class="subtitle">Reviews:</p>
    <% @user.reviews.each do |review| %>
      <div class="box">
        <div class="media">
          <figure class="media-left">
            <div class="image is-128x128">
              <%= link_to image_tag(review.movie.image), movie_path(review.movie_id) %>
            </div>            
          </figure> 
          <%= render 'user_reviews', review: review %>
      </div>
    </div>
    <% end %>
<div class="columns">
  <div class="column is-one-quarter">
    <div class="box is-1">
      <p class="subtitle is-3 has-text-centered"><%=link_to "Go back", movies_path %></p>
    </div>
  </div>
</div>