<h1><%= @user.full_name %>'s Profile</h1>

<p>Name: <%= @user.full_name %></p>
<p>Email: <%= @user.email %></p>
<p>Date joined: <%=formatted_date(@user.created_at) %></p>

<p>Reviews:</p>
<% @user.reviews.each do |review| %>
  <h3>
    <%= link_to review.movie.title, movie_path(review.movie.id) %>
  </h3>

  <p>
    <%= review.text %>
  </p>
  <p>
    <%= review.rating_out_of_ten %>/10
  </p>
  <br>

<% end %>

<p><%=link_to "Go back", movies_path %></p>