<div class="box">
  <h1 class="title"><%= @user.full_name %>'s Profile</h1>
</div>

<div class='box'>
  <div class="content">
    <p><strong>Name:</strong> <%= @user.full_name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Date joined:</strong> <%=formatted_date(@user.created_at) %></p>
  </div>
</div>

    <% @user.reviews.each do |review| %>
      <div class="box">
        <div class="media">
          <figure class="media-left">
            <div class="image is-128x128">
              <%= image_tag(review.movie.image) %>
            </div>            
          </figure> 
          <div class="tile is-ancestor is-vertical">
            <div class="tile is-parent">
              <h3 class="title">
                <%= link_to review.movie.title, movie_path(review.movie.id) %>
              </h3>
            </div>
            <div class="tile is-parent is-vertical">
              <p>
                <strong><%= @user.full_name %></strong> had this to say about <strong><%= review.movie.title %>:</strong><em><br> "<%= review.text %>"</em>
              </p>
            </div>
            <div class="tile is-parent is-vertical">
              <p>
                <strong>Review score: </strong><br><%= review.rating_out_of_ten %>/10
              </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
<div class="columns">
  <div class="column is-one-quarter">
    <div class="box is-1">
      <p class="subtitle is-3 has-text-centered"><%=link_to "Go back", admin_users_path %></p>
    </div>
  </div>
</div>