<div class="container">
  <div class="columns">
    <div class="column is-one-half">
      <p class="title is-4">Write a review for <em><%= @movie.title %></em></p>


<%= form_for([@movie, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div>
      <%= pluralize(@review.errors.count, "error") %> prevented the review from being saved:
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>

      <%= f.label :text, class: "label" %>
    <p class="control">
      <%= f.text_area "text", placeholder: "What did you think about this movie?", class: "input" %>
    </p>
  </div>
  <div>

    <%= f.label :rating_out_of_ten, class: "label" %>
    <p class="control">
      <%= f.number_field :rating_out_of_ten, class: "input" %>
    </p>
  </div>
  <div><%= f.submit "Submit", class: "search-spacer" %></div>
<% end %>
</div>
  <div class="column">
    <div class="box">
      <figure class="image is-square">
        <img src="http://stevencbird.com/wp-content/uploads/2015/02/Reviews.jpg">
      </figure>
    </div>
  </div>